* {
    padding: 0;
    margin: 0;
    font-family: ¡®Times New Roman¡¯, Times, serif;
}

#wrapper {
    position: relative;
    overflow: hidden;
}

#wrapper #projectInfo {
    position: absolute;
    top: 150px;
    left: 50%;
    background: #FFFFFF;
    padding: 15px;
    z-index: 3;
    -webkit-box-shadow: 2px 2px 20px gray;
    -moz-box-shadow: 2px 2px 20px gray;
    box-shadow: 2px 2px 20px gray;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    visibility: hidden;

    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 80%;
    height: 320px;
}

#projectInfo h1 {
    color: #39a9cf;
    margin: 10px;
}

#projectInfo p {
    line-height: 20px;
    font-size: large;
    margin: 15px;
}

#projectInfo p span {
    color: #39a9cf;
    font-weight: bold;
}

#wrapper #header h1 {
    color: #FFFFFF;
    background: #39a9cf;
    padding: 20px;
    margin: 0;
    border-bottom: solid 3px #fbf8cd;
    text-shadow: 2px 2px 20px gray;
    letter-spacing: 1px;
}

#menu ul {
    margin: 0;
    padding: 10px;
    background: #5cb6d5;
    position: relative;
}

#header #menu li {
    /*border: solid 1px #000000;*/
    list-style: none;
    display: inline;
    margin-right: 20px;
    padding: 7px;
    color: #FFFFFF;
}

#header #menu li:hover {
    cursor: pointer;
    -webkit-box-shadow: inset 2px 2px 20px #FFFFFF;
    -moz-box-shadow: inset 2px 2px 20px #FFFFFF;
    box-shadow: inset 2px 2px 20px #FFFFFF;
    border-radius: 5px;
}

#menu #file {
    opacity: 0;
    position: absolute;
    display: none;
}

#content {
    position: relative;
    text-align: center;
    background: #EEEEEE;
    border: solid 3px #fbf8cd;
    -webkit-box-shadow: inset 2px 2px 20px gray;
    -moz-box-shadow: inset 2px 2px 20px gray;
    box-shadow: inset 2px 2px 20px gray;
    border-radius: 5px;
}

#content #info {
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

#content #canvas {
    -webkit-box-shadow: 2px 2px 10px #AAAAAA;
    -moz-box-shadow: 2px 2px 10px #AAAAAA;
    box-shadow: 2px 2px 10px #AAAAAA;
    margin: 10px;
    padding: 0;
    border: solid 5px #FFFFFF;
}

#wrapper #footer {
    background: #39a9cf;
    padding: 10px;
    color: #FFFFFF;
    text-align: center;
}

#footer span {
    margin: 10px;
}