body,div,p {
  margin: 0;
  padding: 0;
}
@mixin transform ($argu...) {
  -webkit-transform:$argu;
  -moz-transform:$argu;
  -o-transform:$argu;
  -ms-transform:$argu;
  transform:$argu
}

#file {
  display: none;
}

#page-body {
  position: relative;
  margin-top: 50px;
  #canvas {
    border: solid 1px #cccccc;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    left: 50%;
    @include transform(translateX(-50%));
  }
  #table-wrapper {
    width: 100%;
    background: #0084b4;
  }
  #histogram-wrapper {
    background: #eeeeee;
    padding: 0;
    margin: 0;
  }
  #histogram-wrapper .column {
    padding: 10px;
    height: auto;
  }
}
