// Created by zhoujihao on 16-1-28.

doctype html
html(lang="en")
    head
        link(rel="shortcut icon" href="./favicon.png")
        link(rel="styleSheet" href="./semantic/semantic.min.css")
        link(rel="styleSheet" href="./dist/css/style.min.css")
        title Image Processor
    body
        input#file(type="file")
        .ui.container-fluid
            .ui.top.fixed.inverted.menu#menu
                .header.item
                    |Image Processor
                a.item#openBtn 打开图片
                a.item#saveBtn 保存图片
                .ui.simple.dropdown.item 显示单通道图像
                    i.dropdown.icon
                    .menu
                        a.item#rBtn R通道
                        a.item#gBtn G通道
                        a.item#bBtn B通道
            #page-body
                canvas#canvas
                #table-wrapper
                    table.ui.celled.table(way-scope = "myTableData")
                        thead
                            tr
                                th 图片类型
                                th 像素总数
                                th 宽度
                                th 高度
                        tbody
                            tr
                                td(way-data="image_type") 0
                                td(way-data="total_pixel") 0
                                td(way-data="width") 0
                                td(way-data="height") 0
                .ui.two.column.grid#histogram-wrapper
                    .column
                        #histogram
                    .column
                        #histogram2
        script(type="text/javascript" src="./semantic/jquery.js")
        script(type="text/javascript" src="./semantic/semantic.min.js")
        script(type="text/javascript" src="https://code.highcharts.com/highcharts.js")
        script(type="text/javascript" src="https://code.highcharts.com/modules/exporting.js")
        script(type="text/javascript" src="./libs/way.min.js")
        script(type="text/javascript" src="./dist/js/main.js")


